#!/bin/bash

# Please fill the three parameters
readonly USER=
readonly MACHINES=
readonly PASSWORD=

for i in ${MACHINES} ; do
    curl.exe --insecure --user ${USER}:${PASSWORD} -T src/main/bash/nixlper.sh scp://${i}/logiciels/nixlper/nixlper.sh
done